/* font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive; */
body {
    background-image: linear-gradient(lightyellow, brown);
    margin: 15px 25px 45px 25px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
}
h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 1px 1px 1px brown;
}
h2, p, ol {
    text-align: left;
    font-size: 2.5rem;
}
iframe {
    margin: 15px 33%;
    border: 2px black solid;
}
footer {
    text-align: center;
}